#mainProducts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    padding: 20px;
    margin-top: 80px; /* Ajusta según el tamaño del navbar */
    width: 80%; /* Ajusta el ancho para que no ocupe toda la pantalla */
    margin: auto; /* Centra horizontalmente */
}

.productCard {
    position: relative;
    margin: 20px; /* Ajusta el espacio entre las tarjetas */
    padding: 0; /* Elimina el padding */
    width: calc(45% - 40px); /* Ajusta el ancho para que quepan dos en una fila */
    height: auto; /* Ajusta la altura automáticamente */
    border-radius: 0; /* Elimina el borde redondeado */
    box-shadow: none; /* Elimina la sombra */
    overflow: visible; /* Cambia a visible para que las imágenes no se corten */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent; /* Elimina el fondo blanco */
}

.productCard img {
    width: 100%; /* Amplía la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    border-radius: 0; /* Elimina el borde redondeado */
    margin-bottom: 0; /* Elimina el margen inferior */
}